{% extends "base.html" %}


{% block content %}


<style>

tr.invalid {
    background-color: #ff0000;
}

</style>

    <span data-bind="visible: loaded() == false">Loading...</span>

    <table data-bind="visible: accounts().length > 0">
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr></thead>
    <tbody data-bind="foreach: accounts">
    <tr data-bind="groupFocus: editing, css: { invalid: !valid() }">
        <td><span data-bind="text: id" /></td>
        <td>
            <b data-bind="text: name, visible: !editing()"></b>
            <input data-bind="value: name, visible: editing" />
        </td>
        <td>
            <b data-bind="text: description, visible: !editing()"></b>
            <input data-bind="value: description, visible: editing" />
        </td>
        <td>
            <a data-bind="click: deleteAccount, visible: waitingDeleteConfirm() == false">Delete</a>
            <a data-bind="click: deleteAccountReally, visible: waitingDeleteConfirm() == true">Confirm</a>
            <a data-bind="click: cancelDelete, visible: waitingDeleteConfirm() == true">Cancel</a>
        </td>
    </tr>
    </tbody>
    </table>

    <div data-bind="with: newAccount">
        <input data-bind="value: name" />
        <input data-bind="value: description" />

        <button data-bind="click: $root.addAccount">Add Account</button>
    </div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {

        const ViewModel = function () {
            var self = this;
            self.loaded = ko.observable(false),
            self.accounts = ko.observableArray([]),
            self.newAccount = ko.observable(new Account(-1, "a", "d")),

            self.addAccount = function () {
                $.ajax({
                    url: "/rest/account",
                    method: "post",
                    contentType: "application/json",
                    data: ko.toJSON(self.newAccount()),
                    success: function (result) {
                        if (result.success)
                        {
                            self.newAccount().id(result.id);
                            self.accounts.push(self.newAccount());
                            self.newAccount(new Account(-1, "", ""));
                        }
                        else
                        {
                            alert(result.message + " - see console for details");
                            console.log(result.errors);
                        }
                    },
                    error: function (result) {
                        alert("AJAX request failed. See console for details");
                        console.log(result);
                    }
                });
            };
        };
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        ko.bindingHandlers.groupFocus = {
            init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                $(element).find("td").click(function () {
                    bindingContext.$data.editing(true);
                    $(this).find(":input").focus();
                });

                $(element).focusout(function () {
                    setTimeout(function() {
                        if ($(element).find(":input").is(":focus"))
                            valueAccessor()(true);
                        else
                            valueAccessor()(false);
                    }, 1);
                });
            },
            update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                // Do nothing
            }
        };


        function Account(id, name, description) {
            var acct = {
                id: ko.observable(id),
                name: ko.observable(name),
                description: ko.observable(description),
                valuesOnly: function () {
                    return {
                        id: this.id,
                        name: this.name,
                        description: this.description,
                    }
                },

                // Deleting accounts
                waitingDeleteConfirm: ko.observable(false),
                cancelDelete: function ()  { this.waitingDeleteConfirm(false); },
                deleteAccount: function () { this.waitingDeleteConfirm(true); },
                deleteAccountReally: function (obj) {
                    $.ajax({
                        url: "/rest/account/" + obj.id(),
                        method: "delete",
                        success: function (result) {
                            console.log("Account '" + obj.name() + "' removed");
                            viewModel.accounts.remove(obj);
                        }
                    });
                },

                // Editing
                editing: ko.observable(false),
                valid: ko.observable(true),
                update: function () {
                    var self = this;
                    $.ajax({
                        url: "/rest/account/" + this.id(),
                        method: "patch",
                        contentType: "application/json",
                        data: ko.toJSON(this.valuesOnly()),
                        success: function (result) {
                            if (result.success) {
                                console.log("Account '" + acct.name() + "' updated");
                            }
                            else {
                                alert("Unable to apply update - AJAX request failed. See console for details");
                                self.valid(false);
                                console.log(result);
                            }
                        }
                    });
                }
            };

            acct.name.subscribe(function (newValue) { acct.update(); });
            acct.description.subscribe(function (newValue) { acct.update(); });

            return acct;
        }

        $.ajax("/rest/account").done (function (data) {
            if (data.success) {
                for (var d of data.data)
                    viewModel.accounts.push(new Account(d.id, d.name, d.description));

                viewModel.loaded(true);
            }
            else {
                alert("Cannot load accounts");
            }
        });


    });

</script>
{% endblock %}
