{% extends "base.html" %}


{% block content %}

<div data-bind="visible: loaded() == false" class="loading_message">Loading...</div>

<table data-bind="visible: loaded()" class="data_table" style="display:none">

    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody data-bind="foreach: accounts">
    <tr data-bind="groupFocus: editing">
        <td class="width-1"><span data-bind="text: id"></span></td>
        <td class="width-3">
            <b data-bind="text: name, visible: !editing()"></b>
            <input data-bind="value: name, visible: editing, css: {error: validation('name')}" title="Name"
                   class="width-3"/>
            <span data-bind="text: validation('name'), visible: validation('name')" class="error_message"></span>
        </td>
        <td class="width-6">
            <b data-bind="text: description, visible: !editing()"></b>
            <input data-bind="value: description, visible: editing, css: {error: validation('description')}"
                   title="Description" class="width-6"/>
            <span data-bind="text: validation('description'), visible: validation('description')"
                  class="error_message"></span>
        </td>
        <td class="width-3">
            <a data-bind="click: del, visible: deleting() == false">Delete</a>
            <a data-bind="click: delReally, visible: deleting() == true">Confirm</a>
            <a data-bind="click: cancelDel, visible: deleting() == true">Cancel</a>
        </td>
        <td class="width-1">
            <a data-bind="attr: { href: '/ui/account/' + id() + '/entries'}">Entries</a>
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr data-bind="with: newAccount">
        <td>&nbsp;</td>
        <td class="width-3">
            <input data-bind="value: name, css: {error: validation('name')}" title="Name" class="width-3"><br/>
            <span data-bind="text: validation('name'), visible: validation('name')" class="error_message"></span>
        </td>
        <td class="width-6">
            <input data-bind="value: description, css: {error: validation('description')}" title="Description"
                   class="width-6"/><br/>
            <span data-bind="text: validation('description'), visible: validation('description')"
                  class="error_message"></span>
        </td>
        <td class="width-3">
            <button data-bind="click: add">Add Account</button>
        </td>
        <td>&nbsp;</td>
    </tr>
    </tfoot>
</table>

{% endblock %}


{% block scripts %}
<script type='text/javascript' src='/js/objects/account.js'></script>
<script type="text/javascript">
    class ViewModel {
        constructor() {
            this.loaded   = ko.observable(false);
            this.accounts = ko.observableArray([]);

            // Setup blank account for new account form
            var self             = this;
            this.newAccount      = ko.observable();
            this.blankNewAccount = function () {
                self.newAccount(new Account({
                    id: null,
                    name: "Name",
                    description: "Description"
                }, this));
            };
            this.blankNewAccount();
        }
    }

    $(document).ready(function () {
        // Configure view model
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        // Load initial accounts
        $.ajax({
            url:     "/rest/account",
            success: function (data) {
                for (var d of data.data) {
                    viewModel.accounts.push(new Account(d, viewModel));
                }
                viewModel.loaded(true);
            },
            error:   function (err) {
                alert("Cannot load accounts. See console for details");
                console.log("Received HTTP 500. Server said: " + err.responseText)
            }
        });
    });

</script>
{% endblock %}
