<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/stylesheets/ui.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script type='text/javascript' src='/js/3rdparty/knockout-3.4.1.js'></script>
    <script type='text/javascript' src='/js/knockout-helper.js'></script>
    <script type='text/javascript' src='/js/3rdparty/lodash.js'></script>
    <script type='text/javascript' src='/js/validationStrings.js'></script>
    <script type='text/javascript' src='/js/ajax_rest.js'></script>
    <script type='text/javascript' src='/js/tag_colors.js'></script>
</head>
<body>

    <!-- Navigation -->
    <div id="nav">
    {% block nav %}
        <ul>
            <li><a href="/ui/accounts">Accounts</a></li>
            <li><a href="/ui/budgets">Budgets</a></li>
            <li><a href="/ui/summaries">Summaries</a></li>
        </ul>
    {% endblock %}
    </div>

    <!-- Header -->
    <h1>{{title}}</h1>

    <!-- General content -->
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <!-- Templates -->
    {% block templates %}{% endblock %}

    <!-- Scripts -->
    {% block scripts %}{% endblock %}
</body>
</html>
