{% extends "base.html" %}


{% block content %}

<span data-bind="visible: loaded() == false">Loading...</span>

<table data-bind="visible: loaded()" class="data_table" style="display:none">

    <thead><tr>
        <th>ID</th>
        <th>Code</th>
        <th>Type</th>
        <th>Amount</th>
        <th>&nbsp;</th>
    </tr></thead>

    <tbody data-bind="foreach: budgets">
    <tr data-bind="groupFocus: editing">
        <td class="width-1"><span data-bind="text: id"></span></td>
        <td class="width-3">
            <b data-bind="text: code, visible: !editing()"></b>
            <input data-bind="value: code, visible: editing, css: {error: validation('code')}" title="Code" class="width-3"/>
            <span data-bind="text: validation('code'), visible: validation('code')" class="error_message"></span>
        </td>
        <td class="width-3">
            <b data-bind="text: typeNice, visible: !editing()"></b>
            <select data-bind="value: type, foreach: $root.budgetTypes, visible: editing, css: {error: validation('type')}" title="Type" class="width-3">
                <option data-bind="value: id, text: description"></option>
            </select>
            <span data-bind="text: validation('type'), visible: validation('type')" class="error_message"></span>
        </td>
        <td class="width-2">
            <span data-bind="visible: !editing(), style: { color: amount < 0 ? 'red' : 'black' }" style="font-weight: bold">
                <span style="float:left ">$</span>
                <span style="float:right" data-bind="text: amount"></span>
            </span>
            <input data-bind="value: amount, visible: editing, css: {error: validation('amount')}" title="Amount" class="width-2" style="text-align:right"/>
            <span data-bind="text: validation('amount'), visible: validation('amount')" class="error_message"></span>
        </td>
        <td class="width-3">
            <a data-bind="click: del, visible: deleting() == false">Delete</a>
            <a data-bind="click: delReally, visible: deleting() == true">Confirm</a>
            <a data-bind="click: cancelDel, visible: deleting() == true">Cancel</a>
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr data-bind="with: newBudget">
        <td>&nbsp;</td>
        <td class="width-3">
            <input data-bind="value: code, css: {error: validation('code')}" title="Code" class="width-3" ><br/>
            <span data-bind="text: validation('code'), visible: validation('code')" class="error_message"></span>
        </td>
        <td class="width-3">
            <select data-bind="value: type, foreach: $root.budgetTypes, css: {error: validation('type')}" title="Type" class="width-3">
                <option data-bind="value: id, text: description"></option>
            </select>
            <span data-bind="text: validation('type'), visible: validation('type')" class="error_message"></span>
        </td>
        <td class="width-2">
            <input data-bind="value: amount, css: {error: validation('amount')}" title="Amount" class="width-2"/><br/>
            <span data-bind="text: validation('amount'), visible: validation('amount')" class="error_message"></span>
        </td>
        <td class="width-3">
            <button data-bind="click: $root.newBudget().add">Add Budget</button>
        </td>
    </tr>
    </tfoot>
</table>

{% endblock %}


{% block scripts %}
<script type='text/javascript' src='/js/objects/budget.js'></script>
<script type="text/javascript">
    const ViewModel = function () {
        var self = this;

        // Flags
        this.loadedBudgets = ko.observable(false);
        this.loadedBudgetTypes = ko.observable(false);
        this.loaded = ko.computed(function () {
            return self.loadedBudgets() && self.loadedBudgetTypes();
        });

        // Storage
        this.budgets = ko.observableArray([]);
        this.budgetTypes = [];

        // Object under creation
        self.newBudget = ko.observable();
        this.blankNewBudget = function () {
            self.newBudget(new Budget({
                id: null,
                code: "code",
                type: 1,
                amount: 0
            }, self));
        };
        self.blankNewBudget();
    };

    $(document).ready( function ()
    {
        // Configure view model
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        // Set up promise chain
        Promise.resolve()

            // Load budget types
            .then(function () {
                return $.ajax({
                    url: "/rest/budget/types",
                    success: function (data) {
                        for (var d of data.data) {
                            viewModel.budgetTypes.push({id: d.id, description: d.description});
                        }
                        viewModel.loadedBudgetTypes(true);
                        viewModel.blankNewBudget();
                    },
                    error: function (err) {
                        alert("Cannot load budgets. See console for details");
                        console.log("Received HTTP 500. Server said: " + err.responseText)
                    }
                }).promise();
            })

            // Load budgets
            .then(function () {
                return $.ajax({
                    url: "/rest/budget",
                    success: function (data) {
                        for (var d of data.data) {
                            viewModel.budgets.push(new Budget(d, viewModel));
                        }
                        viewModel.loadedBudgets(true);
                    },
                    error: function (err) {
                        alert("Cannot load budgets. See console for details");
                        console.log("Received HTTP 500. Server said: " + err.responseText)
                    }
                }).promise();
            })

    });

</script>
{% endblock %}
