{% extends "base.html" %}


{% block content %}

<link href="/stylesheets/entries.css" rel="stylesheet">

<span data-bind="visible: loaded() == false">Loading...</span>

<table data-bind="visible: loaded()" class="data_table" style="display:none">

    <thead><tr>
        <th>ID</th>
        <th>Date</th>
        <th>Bank Note</th>
        <th>Note</th>
        <th>Tag</th>
        <th>Where</th>
        <th>What</th>
        <th>Amount</th>
        <th>&nbsp;</th>
    </tr></thead>

    <tbody data-bind="foreach: entries">
    <tr data-bind="groupFocus: editing">
        <td class="width-1"><span data-bind="text: id"></span></td>
        <td class="width-3">
            <b data-bind="text: formatDateIso8601(date()), visible: !editing()"></b>
            <input data-bind="value: formatDateIso8601(date()), visible: editing, css: {error: validation('date')}" title="Date" class="width-3"/>
            <span data-bind="text: validation('date'), visible: validation('date')" class="error_message"></span>
        </td>
        <td class="width-6">
            <b data-bind="text: bank_note, visible: !editing()"></b>
            <input data-bind="value: bank_note, visible: editing, css: {error: validation('bank_note')}" title="Bank Note" class="width-6"/>
            <span data-bind="text: validation('bank_note'), visible: validation('bank_note')" class="error_message"></span>
        </td>
        <td class="width-6">
            <b data-bind="text: note, visible: !editing()"></b>
            <input data-bind="value: note, visible: editing, css: {error: validation('note')}" title="Note" class="width-6"/>
            <span data-bind="text: validation('note'), visible: validation('note')" class="error_message"></span>
        </td>
        <td class="tag width-3" data-bind="style: {color: tagColor(), backgroundColor: tagBGColor()}">
            <b data-bind="text: tag, visible: !editing()"></b>
            <input data-bind="value: tag, visible: editing, css: {error: validation('tag')}" title="Tag" class="width-3"/>
            <span data-bind="text: validation('tag'), visible: validation('tag')" class="error_message"></span>
        </td>
        <td class="width-6">
            <b data-bind="text: where, visible: !editing()"></b>
            <input data-bind="value: where, visible: editing, css: {error: validation('where')}" title="Where" class="width-6"/>
            <span data-bind="text: validation('where'), visible: validation('where')" class="error_message"></span>
        </td>
        <td class="width-6">
            <b data-bind="text: what, visible: !editing()"></b>
            <input data-bind="value: what, visible: editing, css: {error: validation('what')}" title="What" class="width-6"/>
            <span data-bind="text: validation('what'), visible: validation('what')" class="error_message"></span>
        </td>
        <td class="width-2">
            <span data-bind="visible: !editing(), style: { color: amountNice() > 0 ? 'black' : 'red' }" style="font-weight: bold">
                <span style="float:left ">$</span>
                <span style="float:right" data-bind="text: amountNice"></span>
            </span>
            <input data-bind="value: amount, visible: editing, css: {error: validation('amount')}" title="Amount" class="width-2"/>
            <span data-bind="text: validation('amount'), visible: validation('amount')" class="error_message"></span>
        </td>
        <td class="width-3">
            <a data-bind="click: del, visible: deleting() == false">Delete</a>
            <a data-bind="click: delReally, visible: deleting() == true">Confirm</a>
            <a data-bind="click: cancelDel, visible: deleting() == true">Cancel</a>
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr data-bind="with: newEntry">
        <td>&nbsp;</td>
        <td class="width-3">
            <input data-bind="value: date, css: {error: validation('date')}" title="Date" class="width-3"/>
            <span data-bind="text: validation('date'), visible: validation('date')" class="error_message"></span>
        </td>
        <td class="width-6">
            <input data-bind="value: bank_note, css: {error: validation('bank_note')}" title="Bank Note" class="width-6"/>
            <span data-bind="text: validation('bank_note'), visible: validation('bank_note')" class="error_message"></span>
        </td>
        <td class="width-6">
            <input data-bind="value: note, css: {error: validation('note')}" title="Note" class="width-6"/>
            <span data-bind="text: validation('note'), visible: validation('note')" class="error_message"></span>
        </td>
        <td class="width-3">
            <input data-bind="value: tag, css: {error: validation('tag')}" title="Tag" class="width-3"/>
            <span data-bind="text: validation('tag'), visible: validation('tag')" class="error_message"></span>
        </td>
        <td class="width-3">
            <input data-bind="value: where, css: {error: validation('where')}" title="Where" class="width-6"/>
            <span data-bind="text: validation('where'), visible: validation('where')" class="error_message"></span>
        </td>
        <td class="width-3">
            <input data-bind="value: what, css: {error: validation('what')}" title="What" class="width-6"/>
            <span data-bind="text: validation('what'), visible: validation('what')" class="error_message"></span>
        </td>
        <td class="width-2">
            <input data-bind="value: amount, css: {error: validation('amount')}" title="Amount" class="width-2"/>
            <span data-bind="text: validation('amount'), visible: validation('amount')" class="error_message"></span>
        </td>
        <td class="width-3">
            <button data-bind="click: add">Add Entry</button>
        </td>
        <td>&nbsp;</td>
    </tr>
    </tfoot>
</table>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
    var viewModel;

    var account_id = {{account_id}};

    const ViewModel = function () {
        this.loaded = ko.observable(false);
        this.entries = ko.observableArray([]);

        // Setup blank account for new account form
        var self = this;
        self.newEntry = ko.observable(null);
        this.blankNewEntry = function () {
            self.newEntry(new Entry({
                id: null,
                account_id: account_id,
                amount: 0,
                date: "1970-01-01",
                bank_note: "Created via UI",
                note: "",
                tag: "",
                what: "",
                where: ""
            }, []));
        };
        self.blankNewEntry();
    };

    function Entry(obj, budget_allocations)
    {
        // Create basic object
        var entry = {
            id: ko.observable(obj.id),
            account_id: ko.observable(obj.account_id),
            amount: ko.observable("" + obj.amount.toFixed(2)),
            date: ko.observable(obj.date),
            bank_note: ko.observable(obj.bank_note),
            note: ko.observable(obj.note),
            tag: ko.observable(obj.tag),
            budget_allocations: ko.observableArray(budget_allocations),
            what: ko.observable(obj.what),
            where: ko.observable(obj.where),

            valuesOnly: function () {
                return {
                    id: entry.id(),
                    account_id: entry.account_id(),
                    amount: entry.amount(),
                    date: entry.date(),
                    bank_note: entry.bank_note(),
                    note: entry.note(),
                    tag: entry.tag(),
                    what: entry.what(),
                    where: entry.where(),
                }
            }
        };

        // Nice field values
        entry.amountNice = ko.computed(function() {
            var amount = parseFloat(entry.amount());
            return amount.toFixed(2);
        });

        entry.tagColor = ko.computed(function() {
            var tc = tag_colors[entry.tag()];
            if (tc && tc.color) {
                return tc.color;
            } else {
                return "black";
            }
        });

        entry.tagBGColor = ko.computed(function() {
            var tc = tag_colors[entry.tag()];
            if (tc && tc.bgcolor) {
                return tc.bgcolor;
            } else {
                return "white";
            }
        });

        // Decorate as rest managed object
        decorateAjaxRest(
            entry, obj.id, "entry", "/rest/entry/",
            {
                del: function (obj, result) {
                    viewModel.entries.remove(entry);
                    console.log("Entry " + entry.date() + " - " + entry.amount() + " removed.");
                },
                add: function (obj, result) {
                    viewModel.entries.push(entry);
                    viewModel.blankNewEntry();
                    console.log("Entry " + entry.date() + " - " + entry.amount() + " added.");
                },
                update: function (obj, result) {
                    console.log("Entry " + entry.date() + " - " + entry.amount() + " updated.");
                }
            }
        );

        // Subscribe to exposed update fields
        entry.amount.subscribe(function (newValue) { entry.update(); });
        entry.date.subscribe(function (newValue) { entry.update(); });
        entry.note.subscribe(function (newValue) { entry.update(); });
        entry.tag.subscribe(function (newValue) { entry.update(); });
        entry.what.subscribe(function (newValue) { entry.update(); });
        entry.where.subscribe(function (newValue) { entry.update(); });

        return entry;
    }

    $(document).ready( function ()
    {
        // Configure view model
        viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        // Load initial accounts
        $.ajax({
            url: "/rest/account/{{account_id}}/entries",
            success: function (data) {
                for (var d of data.data) {
                    viewModel.entries.push(new Entry(d, []));
                }
                viewModel.loaded(true);
            },
            error: function (err) {
                alert("Cannot load accounts. See console for details");
                console.log("Received HTTP 500. Server said: " + err.responseText)
            }
        });
    });



</script>
{% endblock %}
