{% extends "base.html" %}


{% block content %}

<div id="div_acct_info" style="display:none"></div>
<div id="div_period">
    <div id="div_period_info" style="display:none"></div>
    <div id="div_period_selector" style="display:none"></div>
</div>

<link href="/stylesheets/entries.css" rel="stylesheet">

<div id="div_loading" class="loading_message">Loading...</div>

<table class="data_table">

    <thead>
    <tr>
        <th class="width-1">ID</th>
        <th class="width-3">Date</th>
        <th class="width-3">Tag</th>
        <th class="width-3">Bank Note</th>
        <th class="width-3">Note</th>
        <th class="width-3">Where</th>
        <th class="width-3">What</th>
        <th class="width-3">Amount</th>
        <th class="width-3">Balance</th>
        <th class="width-3">&nbsp;</th>
    </tr>
    </thead>

    <tbody id="tbody_entries" style="display:none"></tbody>

</table>

{% endblock %}


{% block scripts %}
<script type='text/javascript' src='/js/objects/account.js'></script>
<script type='text/javascript' src='/js/objects/accounting.js'></script>
<script type='text/javascript' src='/js/objects/entry.js'></script>
<script type='text/javascript' src='/js/objects/period.js'></script>
<script type="text/javascript">

    // Configure view model
    var viewModel = null;
    var view      = null;
    var period_id = "{{period_id}}";

    class CustomEntry extends Entry {
        constructor(obj, budget_allocations, viewModel) {
            super(obj, budget_allocations, viewModel);
            var self = this;

            // Extend add callback
            var fn_add         = this.callbacks.add;
            this.callbacks.add = function (result) {
                if (result.success) {
                    self.viewModel.entries.push(self);
                    self.viewModel.blankNewEntry();
                    view.expressEntryAddition(self);
                    self.viewModel.sortEntries();
                    view.expressEntriesSortUpdate();
                }
                fn_add(result);
            };

            // Extend delete callback
            var fn_del         = this.callbacks.del;
            this.callbacks.del = function (result) {
                if (result.success) {
                    _.pull(self.viewModel.entries, self);
                    view.expressEntryRemoval(self);
                }
                fn_del(result);
            };

            // Extend delete callback
            var fn_update         = this.callbacks.update;
            this.callbacks.update = function (result) {
                if (result.success) {
                    self.viewModel.sortEntries();
                    view.expressEntriesSortUpdate();
                }
                fn_update(result);
            };
        }
    }

    class ViewModel {
        constructor() {
            var self = this;

            // Storage
            this.account       = null;
            this.accounting    = null;
            this.currentPeriod = null;
            this.entries       = [];
            this.entryTags     = [];
            this.periods       = [];
            this.newEntry      = null;
        };

        blankNewEntry() {
            this.newEntry = new CustomEntry({
                id:         null,
                account_id: "{{account_id}}",
                amount:     0,
                date:       new Date().getTime(),
                bank_note:  "Created via UI",
                note:       "",
                tag:        "Unknown",
                what:       "",
                where:      ""
            }, [], this);
        }

        sortEntries() {
            this.entries = _.sortBy(this.entries, ["date"]);

            // Link neighbords - first
            if (this.entries.length > 0)
                this.entries[0].linkNeighbors(null, this.entries[1]);

            // Link neighbors - middle
            for (var i = 1; i < this.entries.length - 1; i++)
                this.entries[i].linkNeighbors(this.entries[i - 1], this.entries[i + 1]);

            // Link neighbors - last
            if (this.entries.length > 1)
                this.entries[this.entries.length - 1].linkNeighbors(this.entries[this.entries.length - 2], null);

            // Cascade balances
            if (this.entries.length > 0)
                this.entries[0].cascadingBalanceUpdate(Number.parseFloat(this.accounting.amount_start));
        }
    }

    class View {
        constructor(viewModel) {
            this.viewModel = viewModel;
        }

        expressAccount() {
            var div = $("#div_acct_info");
            div.empty();
            div.append(this.viewModel.account.expressAsPanel());
            div.show();
        }

        expressEntryAddition(entry) {
            var tbody = $("#tbody_entries");
            $(entry.container).remove();
            tbody.append(entry.expressAsEditableTableRow());
            tbody.append(entry.viewModel.newEntry.expressAsAddForm());
        }

        expressEntryRemoval(entry) {
            $(entry.container).remove();
        }

        expressCurrentPeriod() {
            var div = $("#div_period_info");
            div.empty();
            div.append(domsugar_h(2, "Entries for " + this.viewModel.currentPeriod.name));
            div.show();
        }

        expressEntries() {
            var self = this;

            // Init table
            var tbody = $("#tbody_entries");
            tbody.empty();

            // Express entries for editing
            for (var entry of this.viewModel.entries)
                tbody.append(entry.expressAsEditableTableRow());

            // Express new entry form
            tbody.append(this.viewModel.newEntry.expressAsAddForm());

            tbody.show();
        }

        expressEntriesSortUpdate() {
            var self = this;

            // Init table
            var tbody = $("#tbody_entries");
            tbody.empty();

            // Express entries for editing
            for (var entry of this.viewModel.entries)
                tbody.append(entry.container);

            // Express new entry form
            tbody.append(this.viewModel.newEntry.container);

            tbody.show();
        }

        expressPeriodSelector() {
            var self = this;

            var div = $("#div_period_selector");
            div.empty();

            var select = document.createElement("select");
            div.append(select);

            for (var period of this.viewModel.periods) {
                var option   = document.createElement("option");
                option.value = period.id;
                $(option).text(period.name);
                $(select).append(option);
            }

            select.onclick = () => {

                self.showLoadingDialog();

                Promise.resolve()

                    // Load new period
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/period/" + select.value,
                            success: function (response) {
                                self.viewModel.currentPeriod = new Period(response.data, self);
                                self.expressCurrentPeriod();
                            },
                            error:   function (err) {
                                alert("Cannot load current period. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText);
                            }
                        }).promise();
                    })

                    // Load accounting
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/accounting/byAccountAndPeriod/{{account_id}}/" + self.viewModel.currentPeriod.id,
                            success: function (response) {
                                self.viewModel.accounting = new Accounting(response.data, self.viewModel);
                            },
                            error:   function (err) {
                                alert("Cannot load account. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText)
                            }
                        }).promise();
                    })

                    // Load new entries
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/entry/byAccountAndPeriod/{{account_id}}/" + self.viewModel.currentPeriod.id,
                            success: function (data) {
                                self.viewModel.entries = [];
                                for (var d of data.data) {
                                    var entry = new CustomEntry(d, [], self.viewModel);
                                    self.viewModel.entries.push(entry);
                                }
                                self.viewModel.sortEntries();
                                view.expressEntries();
                            },
                            error:   function (err) {
                                alert("Cannot load accounts. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText)
                            }
                        }).promise();
                    })

                    // Display results
                    .then(() => {
                        self.hideLoadingDialog();
                    });
                ;
            };

            div.show();
        }

        expressPeriodChangeArrows() {
            var self = this;
        }

        // Visibility toggles
        hideLoadingDialog() { $("#div_loading").hide(); }

        showLoadingDialog() { $("#div_loading").show(); }
    }

    $(document)
        .ready(
            function () {
                // Configure view model
                viewModel = new ViewModel();
                view      = new View(viewModel);

                // Set up promise chain
                Promise.resolve()

                    // Load current period
                    .then(() => {
                        var url = period_id ? "/rest/period/" + period_id : "/rest/period/byDate/" + new Date().getTime();
                        return $.ajax({
                            url:     url,
                            success: function (response) {
                                viewModel.currentPeriod = new Period(response.data, viewModel);
                                view.expressCurrentPeriod();
                            },
                            error:   function (err) {
                                alert("Cannot load current period. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText);
                            }
                        }).promise();
                    })

                    // Load account
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/account/{{account_id}}",
                            success: function (response) {
                                viewModel.account = new Account(response.data, viewModel);
                                view.expressAccount();
                            },
                            error:   function (err) {
                                alert("Cannot load account. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText)
                            }
                        }).promise();
                    })

                    // Load accounting
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/accounting/byAccountAndPeriod/{{account_id}}/" + viewModel.currentPeriod.id,
                            success: function (response) {
                                viewModel.accounting = new Accounting(response.data, viewModel);
                            },
                            error:   function (err) {
                                alert("Cannot load account. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText)
                            }
                        }).promise();
                    })

                    // Load periods for range selection
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/period/",
                            success: function (response) {
                                for (var d of response.data) {
                                    viewModel.periods.push(new Period(d, viewModel));
                                }
                                view.expressPeriodSelector();
                            },
                            error:   function (err) {
                                alert("Cannot load available accountings. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText);
                            }
                        }).promise();
                    })

                    // Load entry tags
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/entry/tags",
                            success: function (response) {
                                for (var d of response.data) {
                                    viewModel.entryTags.push(d);
                                }
                                viewModel.blankNewEntry();
                            },
                            error:   function (err) {
                                alert("Cannot load entry tags. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText)
                            }
                        }).promise();
                    })

                    // Load entries
                    .then(() => {
                        return $.ajax({
                            url:     "/rest/entry/byAccountAndPeriod/{{account_id}}/" + viewModel.currentPeriod.id,
                            success: function (data) {
                                viewModel.entries = [];
                                for (var d of data.data) {
                                    var entry = new CustomEntry(d, [], viewModel);
                                    viewModel.entries.push(entry);
                                }
                                viewModel.sortEntries();
                                view.expressEntries();
                            },
                            error:   function (err) {
                                alert("Cannot load accounts. See console for details");
                                console.log("Received HTTP 500. Server said: " + err.responseText)
                            }
                        }).promise();
                    })

                    // Display results
                    .then(() => {
                        view.hideLoadingDialog();
                    });
            }
        )
    ;

</script>
{% endblock %}
