{% extends "base.html" %}


{% block content %}

<div id="info_banner">
    <div id="div_account_info" style="display:none"></div>
    <div id="div_period_info" style="display:none"></div>
    <div id="div_accounting_info" style="display:none"></div>
</div>
<div id="div_period_navigation">
    <div id="div_period_previous">
        <button id="button_period_previous" onclick="controller.loadNextPeriod()">Previous</button>
    </div>
    <div id="div_period_selector"></div>
    <div id="div_period_next">
        <button id="button_period_next" onclick="controller.loadPrevPeriod()">Next</button>
    </div>
</div>

<link href="/stylesheets/entries.css" rel="stylesheet">

<div id="div_loading" class="loading_message">Loading...</div>

<table class="data_table">

    <thead>
    <tr>
        <th class="width-1">ID</th>
        <th class="width-3">Date</th>
        <th class="width-3">Tag</th>
        <th class="width-3">Bank Note</th>
        <th class="width-3">Note</th>
        <th class="width-3">Where</th>
        <th class="width-3">What</th>
        <th class="width-3">Amount</th>
        <th class="width-3">Balance</th>
        <th class="width-3">&nbsp;</th>
    </tr>
    </thead>

    <tbody id="tbody_entries" style="display:none"></tbody>

</table>

{% endblock %}


{% block scripts %}
<script type='text/javascript' src='/js/objects/account.js'></script>
<script type='text/javascript' src='/js/objects/accounting.js'></script>
<script type='text/javascript' src='/js/objects/entry.js'></script>
<script type='text/javascript' src='/js/objects/period.js'></script>
<script type="text/javascript">

    // Configure view model
    var __account_id = "{{account_id}}";
    var __period_id  = "{{period_id}}";
    var controller   = null;

    class CustomEntry extends Entry {
        constructor(obj, budget_allocations) {
            super(obj, budget_allocations);
            var self = this;

            // Extend add callback
            var fn_add         = this.callbacks.add;
            this.callbacks.add = function (result) {
                if (result.success) {
                    controller.event_addedEntry(self);
                }
                fn_add(result);
            };

            // Extend delete callback
            var fn_del         = this.callbacks.del;
            this.callbacks.del = function (result) {
                if (result.success) {
                    controller.event_deletedEntry(self);
                }
                fn_del(result);
            };

            // Extend delete callback
            var fn_update         = this.callbacks.update;
            this.callbacks.update = function (result) {
                if (result.success) {
                    controller.event_updatedEntry(self);
                }
                fn_update(result);
            };
        }
    }

    class ViewModel {
        constructor() {
            var self = this;

            // Storage
            this.account    = null;
            this.accounting = null;
            this.period     = null;
            this.entries    = [];
            this.entryTags  = [];
            this.periods    = [];
            this.newEntry   = null;
        };

        blankNewEntry() {
            this.newEntry = new CustomEntry({
                id:         null,
                account_id: this.account.id,
                amount:     0,
                date:       new Date().getTime(),
                bank_note:  "Created via UI",
                note:       "",
                tag:        "Unknown",
                what:       "",
                where:      ""
            }, [], this);
        }

        sortEntries() {
            this.entries = _.sortBy(this.entries, ["date"]);

            // Link neighbords - first
            if (this.entries.length > 0)
                this.entries[0].linkNeighbors(null, this.entries[1]);

            // Link neighbors - middle
            for (var i = 1; i < this.entries.length - 1; i++)
                this.entries[i].linkNeighbors(this.entries[i - 1], this.entries[i + 1]);

            // Link neighbors - last
            if (this.entries.length > 1)
                this.entries[this.entries.length - 1].linkNeighbors(this.entries[this.entries.length - 2], null);

            // Cascade balances
            if (this.entries.length > 0)
                this.entries[0].cascadingBalanceUpdate(Number.parseFloat(this.accounting.amount_start));
        }
    }

    class View {
        constructor(model, controller) {
            this.model      = model;
            this.controller = controller;
        }

        expressAccountInfo() {
            var div = $("#div_account_info");
            div.empty();
            div.append(this.model.account.expressAsPanel());
            div.show();
        }

        expressAccountingInfo() {
            var div = $("#div_accounting_info");
            div.empty();
            div.append(this.model.accounting.expressAsPanel());
            div.show();
        }

        expressEntryAddition(entry) {
            var tbody = $("#tbody_entries");
            $(entry.container).remove();
            tbody.append(entry.expressAsEditableTableRow(this.model.entryTags));
            tbody.append(this.model.newEntry.expressAsAddForm(this.model.entryTags));
        }

        expressEntries() {
            var self = this;

            // Init table
            var tbody = $("#tbody_entries");
            tbody.empty();

            // Express entries for editing
            for (var entry of this.model.entries)
                tbody.append(entry.expressAsEditableTableRow(this.model.entryTags));

            // Express new entry form
            tbody.append(this.model.newEntry.expressAsAddForm(this.model.entryTags));

            tbody.show();
        }

        expressPeriodInfo() {
            var div = $("#div_period_info");
            div.empty();
            div.append(this.model.period.expressAsPanel());
            div.show();
        }

        expressPeriodSelector() {
            var self = this;

            var div = $("#div_period_selector");
            div.empty();

            var select = document.createElement("select");
            div.append(select);

            for (var period of this.model.periods) {
                var option   = document.createElement("option");
                option.value = period.id;
                $(option).text(period.name);
                $(select).append(option);
            }

            select.onclick = () => {
                this.controller.loadPeriod(select.value);
            };

            div.show();
        }

        updateEntries() {
            var self = this;

            // Init table
            var tbody = $("#tbody_entries");
            tbody.empty();

            // Express entries for editing
            for (var entry of this.model.entries)
                tbody.append(entry.container);

            // Express new entry form
            tbody.append(this.model.newEntry.container);

            tbody.show();
        }

        updatePeriodControls() {
            var button_next = $("#button_period_next");
            var button_prev = $("#button_period_previous");

            var ids                = _.map(this.model.periods, "id");
            var current_period_idx = _.indexOf(ids, this.model.period.id);

            if (ids.length === 0) {
                button_next[0].disabled = true;
                button_prev[0].disabled = true;
            }
            else {
                button_next[0].disabled = (current_period_idx === ids.length - 1);
                button_prev[0].disabled = (current_period_idx === 0);
            }

            var select = $("#div_period_selector").find("select");
            for (var option of select[0].options) {
                option.selected = (option.value == this.model.period.id);
            }
        }

        // Visibility toggles
        hideLoadingDialog() { $("#div_loading").hide(); }

        showLoadingDialog() { $("#div_loading").show(); }
    }

    class Communicator {
        loadAccount(account_id) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:     "/rest/account/" + account_id,
                    success: function (response) {
                        resolve(new Account(response.data));
                    },
                    error:   function (err) {
                        alert("Cannot load account. See console for details");
                        reject(new Error("Received HTTP 500. Server said: " + err.responseText));
                    }
                })
            });
        }

        loadAccounting(account_id, period_id) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:     "/rest/accounting/byAccountAndPeriod/" + account_id + "/" + period_id,
                    success: function (response) {
                        resolve(new Accounting(response.data));
                    },
                    error:   function (err) {
                        alert("Cannot load accounting. See console for details");
                        reject(new Error("Received HTTP 500. Server said: " + err.responseText));
                    }
                });
            });
        }

        loadEntries(account_id, period_id) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:     "/rest/entry/byAccountAndPeriod/" + account_id + "/" + period_id,
                    success: function (data) {
                        var entries = [];
                        for (var d of data.data) {
                            entries.push(new CustomEntry(d, []));
                        }
                        resolve(entries);
                    },
                    error:   function (err) {
                        alert("Cannot load entries. See console for details");
                        reject(new Error("Received HTTP 500. Server said: " + err.responseText));
                    }
                });
            });
        }

        loadEntryTags() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:     "/rest/entry/tags",
                    success: function (response) {
                        var tags = [];
                        for (var d of response.data) {
                            tags.push(d);
                        }
                        resolve(tags);
                    },
                    error:   function (err) {
                        alert("Cannot load entry tags. See console for details");
                        reject(new Error("Received HTTP 500. Server said: " + err.responseText));
                    }
                });
            });
        }

        loadPeriod(period_id, model) {
            var url = period_id ? "/rest/period/" + period_id : "/rest/period/byDate/" + new Date().getTime();
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:     url,
                    success: function (response) {
                        resolve(new Period(response.data));
                    },
                    error:   function (err) {
                        alert("Cannot load period. See console for details");
                        reject(new Error("Received HTTP 500. Server said: " + err.responseText));
                    }
                });
            });
        }

        loadPeriods() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:     "/rest/period/",
                    success: function (response) {
                        var periods = [];
                        for (var d of response.data) {
                            periods.push(new Period(d));
                        }
                        resolve(periods);
                    },
                    error:   function (err) {
                        alert("Cannot load periods. See console for details");
                        reject(new Error("Received HTTP 500. Server said: " + err.responseText));
                    }
                });
            });
        }
    }

    class ViewController {
        constructor() {
            this.model        = new ViewModel();
            this.view         = new View(this.model, this);
            this.communicator = new Communicator();
        }

        event_addedEntry(entry) {
            this.model.entries.push(entry);
            this.model.blankNewEntry();
            this.view.expressEntryAddition(entry);
            this.model.sortEntries();
            this.view.updateEntries();
        }

        event_deletedEntry(entry) {
            _.pull(this.model.entries, entry);
            this.model.sortEntries();
            this.view.updateEntries();
        }

        event_updatedEntry(entry) {
            this.model.sortEntries();
            this.view.updateEntries();
        }

        initialize() {
            Promise.resolve()
                // Load period
                .then(() => { return this.communicator.loadPeriod(__period_id); })
                .then((r) => { this.model.period = r; })
                .then(() => {this.view.expressPeriodInfo(); })

                // Load account
                .then(() => { return this.communicator.loadAccount(__account_id); })
                .then((r) => { this.model.account = r; })
                .then(() => { this.view.expressAccountInfo(); })

                // Load accounting
                .then(() => { return this.communicator.loadAccounting(this.model.account.id, this.model.period.id); })
                .then((r) => { this.model.accounting = r; })
                .then(() => { this.view.expressAccountingInfo(); })

                // Load periods (for selector)
                .then(() => { return this.communicator.loadPeriods(); })
                .then((r) => { this.model.periods = r; })
                .then(() => { this.view.expressPeriodSelector(); })
                .then(() => { this.view.updatePeriodControls(); })

                // Load entry tags, create blank entry form
                .then(() => { return this.communicator.loadEntryTags(); })
                .then((r) => { this.model.entryTags = r; })
                .then(() => { this.model.blankNewEntry(); })

                // Load entries
                .then(() => { return this.communicator.loadEntries(this.model.account.id, this.model.period.id); })
                .then((r) => { this.model.entries = r; })
                .then(() => { this.model.sortEntries(); })
                .then(() => { this.view.expressEntries(); })
                .then(() => { this.view.hideLoadingDialog(); })

                // Handle errors
                .catch((e) => {
                    console.error(e);
                });
        }

        loadPeriod(period_id) {
            var self = this;
            this.view.showLoadingDialog();
            return Promise.resolve()
                .then(() => { return this.communicator.loadPeriod(period_id); })
                .then((period) => { this.model.period = period; })
                .then(() => { this.view.expressPeriodInfo(); })

                .then(() => { return this.communicator.loadAccounting(this.model.account.id, this.model.period.id); })
                .then((r) => { this.model.accounting = r; })
                .then(() => { this.view.expressAccountingInfo(); })

                .then(() => { return this.communicator.loadEntries(this.model.account.id, this.model.period.id); })
                .then((r) => { this.model.entries = r; })
                .then(() => { this.model.sortEntries(); })
                .then(() => { this.view.expressEntries(); })
                .then(() => { this.view.hideLoadingDialog(); })

                // Handle errors
                .catch((e) => {
                    console.error(e);
                });
        }

        loadNextPeriod() {
            var period_index = _.indexOf(_.map(this.model.periods, "id"), this.model.period.id);
            Promise.resolve()
                .then(() => { return this.loadPeriod(this.model.periods[period_index - 1].id) })
                .then(() => { this.view.updatePeriodControls(); });
        }

        loadPrevPeriod() {
            var period_index = _.indexOf(_.map(this.model.periods, "id"), this.model.period.id);
            Promise.resolve()
                .then(() => { return this.loadPeriod(this.model.periods[period_index + 1].id) })
                .then(() => { this.view.updatePeriodControls(); });
        }
    }

    $(document).ready(() => {
        controller = new ViewController();
        controller.initialize();
    });

</script>
{% endblock %}
