
/* Basic styles */
body {
    font-family: Verdana, Arial, sans serif;
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}



div.form_div {
    background-color: #e0ffe0;
    padding: 12px;
    width: 700px;
    margin: 0 auto;
}
div.form_div div.container {
    margin: 0 auto;
    width: 360px;
}
div.form_div div div {
    display: inline-block;
    vertical-align: top;
}
div.form_div input.error {
    background-color: #ffb0b0;
    border: 1px solid #ff0000;
}
div.form_div .error_message {
    display: inline-block;
    color: #c00000;
    font-size: 10px;
}
div.form_div button {
    display: block;
    margin: 0 auto
}




table.data_table {
    border-spacing: 1px 4px;
    margin: 0 auto;
    table-layout: fixed;
}
table.data_table tr:nth-child(odd) { background-color: #e0e0e0; }
table.data_table tr:nth-child(even) { background-color: #d0d0d0; }
table.data_table th {
    background-color: #508050;
    padding: 4px;
    -webkit-box-sizing: border-box;
}
table.data_table td {
    vertical-align: top;
    padding: 3px;
    font-size: 11px;
    -webkit-box-sizing: border-box;
}
table.data_table td.width-1, table.data_table th.width-1 { width: 40px; }
table.data_table td.width-2, table.data_table th.width-2 { width: 80px; }
table.data_table td.width-3, table.data_table th.width-3 { width: 120px; }
table.data_table td.width-4, table.data_table th.width-4 { width: 160px; }
table.data_table td.width-6, table.data_table th.width-6 { width: 240px; }
table.data_table td.width-1, table.data_table th.width-1 { width: 40px; }
table.data_table td.width-2, table.data_table th.width-2 { width: 80px; }
table.data_table td.width-3, table.data_table th.width-3 { width: 120px; }
table.data_table td.width-4, table.data_table th.width-4 { width: 160px; }
table.data_table td.width-6, table.data_table th.width-6 { width: 240px; }
table.data_table td.id {
    padding: 4px 1px 1px 1px;
    text-align: center;
}
table.data_table td.error {
    background-color: #ffa0a0;
    border: 1px solid red;
    padding: 0;
}
table.data_table tr:nth-child(odd) td input:disabled { background-color: #f0f0f0; }
table.data_table tr:nth-child(even) td input:disabled { background-color: #d0d0d0; }
table.data_table td.width-1 input { width: 36px; }
table.data_table td.width-2 input { width: 76px; }
table.data_table td.width-3 input { width: 116px; }
table.data_table td.width-4 input { width: 156px; }
table.data_table td.width-6 input { width: 236px; }
table.data_table td input {
    border: 1px solid #c0c0c0;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
}
table.data_table td input:enabled{ color: yellow; }
table.data_table td input:focus { color: blue; }
table.data_table td input.error {
    background-color: #ffb0b0;
    border: 1px solid #ff0000;
}
table.data_table td span.error {
    color: #c00000;
    font-size: 10px;
    padding: 4px;
}
table.data_table td button {
    height: 20px;
    font-size: 12px;
}




div.data_panel {
    border: 1px solid #000000;
    background-color: #e0e0e0;
    margin: 0 auto 12px auto;
    padding: 6px;
}
div.data_panel h1 {
    font-size: 18px;
    margin: 0 0 6px 0;
}
div.data_panel.width-12 { width: 480px; }




div.loading_message {
    margin: 0 auto;
    background-color: #834f22;
    width: 120px;
    font-size: 14px;
    padding: 6px;
    color: #ffffff;
}



.tag_selector {
    background-color: #c0c0c0;
    border: 1px solid #000000;
    width: 160px;
    position: absolute;
    top: 400px;
    left: 400px;
}
.tag_selector .option {
    padding: 4px;
    border: 2px #909090 solid;
    margin: 2px;
}
.tag_selector .option.selected {
    border: 4px yellow solid;
    padding: 6px;
}
.tag_Bank          {color: #ffffff; background-color: #0000ff !important }
.tag_Books         {color: #ffffff; background-color: #a000ff !important }
.tag_Cash_out      {color: #ff0000; background-color: #ffe070 !important }
.tag_Clothes       {color: #ff0000; background-color: #ffe070 !important }
.tag_Donation      {color: #ff0000; background-color: #ffe070 !important }
.tag_Education     {color: #ff0000; background-color: #ffe070 !important }
.tag_Entertainment {color: #ffffff; background-color: #ff00ff !important }
.tag_Food_out      {color: #ffffff; background-color: #ff4f00 !important }
.tag_Games         {color: #ffffff; background-color: #ff8e65 !important }
.tag_Groceries     {color: #ff0000; background-color: #ffe070 !important }
.tag_Health        {color: #ff0000; background-color: #ffffff !important }
.tag_Insurance     {color: #ff0000; background-color: #ffe070 !important }
.tag_Joint         {color: #0000ff; background-color: #c0aa83 !important }
.tag_Liquor        {color: #ff0000; background-color: #ffe070 !important }
.tag_Misc          {color: #ffffff; background-color: #00b0b0 !important }
.tag_Music         {color: #ffffff; background-color: #ff4f78 !important }
.tag_Pay           {color: #000000; background-color: #70ff00 !important }
.tag_Phone         {color: #ff0000; background-color: #ffe070 !important }
.tag_Project       {color: #ff0000; background-color: #ffe070 !important }
.tag_Purchase      {color: #ff0000; background-color: #ffe070 !important }
.tag_Sport         {color: #ff0000; background-color: #ffe070 !important }
.tag_Tech          {color: #ffffff; background-color: #003080 !important }
.tag_Transfer      {color: #c0c0c0; background-color: #0000b0 !important }
.tag_Travel        {color: #000000; background-color: #c0c0c0 !important }
.tag_Unknown       {color: #ffff00; background-color: #800080 !important }

.amt_positive input { font-weight: bold; color: black; }
.amt_negative input { font-weight: bold; color: red; }